In [ ]:
###
name="Akshay"
age =23
location ="Nanded"

In [ ]:
name1="Shivani"
age1=18
location1="Pune"

In [5]:
a = [["Akshay","23","Nanded"] ,["Shivani", "18", "Pune"]]
a = ["Akshay","23","Nanded"]
# len, max,min,sorted
print (len(a))
print(max(a))
print(min(a))
print(type(a))
print(sorted(a))

3
Nanded
23
<class 'list'>
['23', 'Akshay', 'Nanded']

In [6]:
print(type(a))

<class 'list'>

In [7]:
print(a[0])

Akshay

In [8]:
print(a[-1])

Nanded

In [9]:
a = ["Akshay",23,"Nanded"]
print(sorted(a))

TypeError: '<' not supported between instances of 'int' and 'str'

In [10]:
print(a[::-1])

['Nanded', 23, 'Akshay']

In [11]:
#append add in last by default
a =[1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [20]:
a =[1,2,3,4,5]
a.insert(2,"hello")
print(a)

[1, 2, 'hello', 3, 4, 5]

In [28]:
a =[1,2,3,4,5]
a.insert(0,"hello")
print(a)

['hello', 1, 2, 3, 4, 5]

In [23]:
a.remove("hello")
print(a)    #it will remove first hello

[1, 2, 3, 4, 5]

In [24]:
del a[0]
print(a)

[2, 3, 4, 5]

In [26]:
a = [1,2,3,4,5,"hello"]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 'hello', 10]

In [31]:
a =[2,3,4,5,"hello",10]
a.insert(0,"hello")
print(a)

['hello', 2, 3, 4, 5, 'hello', 10]

In [32]:
print(a)

['hello', 2, 3, 4, 5, 'hello', 10]

In [33]:
b = a.pop()
print(a)
print(b)
#last value will be gone pop take and give it someone thatis pop

['hello', 2, 3, 4, 5, 'hello']
10

In [34]:
#pop:particular value will be gone
print(a)
b = a.pop(3)  #pop 3 it meanse 4 ko remove kiya (delete is destroy)
print(a)  
print(b)   #4

['hello', 2, 3, 4, 5, 'hello']
['hello', 2, 3, 5, 'hello']
4

In [ ]:
a =["Akshay","Jadhav","Patil"]
#get first list first word -a
#get first list last word -n
#get last  last first word -k
#get last last last word -e
#also get  list as input from user and check the data type